<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Environmental Chat Advisor</title>
</head>
<body>
    <main>
        <h1>Environmental Chat Advisor</h1>
        <form>
         <div class="input">
            <label>
                <input name="insert-prompt" placeholder="Stay Green" type="text"> 
            </label>
            <button type="submit">Submit</button>
        </div>
        </form>
        <p class="output">...</p>
        
        <section class="previous-searches">
            <h2>Previous Searches</h2>
            <ul id="searches-list"></ul>
            <button id="clear-history">Clear History</button>
        </section>
    </main>
    <script type="module" src="/api_communicator.js"></script>
    <script src="https://unpkg.com/markdown-it@8.4.2/dist/markdown-it.min.js"></script>
</body>
</html>